<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/1.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Personal Portfolio</h4>
          <h5 class="card-text"><b>Technology :</b> Angular8,Bootstrap3, JavaScript , jquery </h5>
   
           
         
        
        </div>
      </div>
    </div>
    </div>
    
 
    
    
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <img class="card-img-top" src="assets/images/2.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
         <h4 class="card-title">E-fiing</h4>
           <h5 class="card-text"><b>Technology :</b> Angular8 , JavaScript , Bootstrap3 , Java , spring Boot ,node js </h5>
           
        </div>
    </div>
    </div>
      </div>
    

    
 
    
    
  
    
    
      
    
    
    </div>
    </div>
  </div>